.container {
  min-height: 40vh;
  padding: 0 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  &Error {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }
}