.card {

    overflow: hidden;

    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;

    cursor: pointer;

    &Image {
        height: 169px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            object-fit: cover;
            width: 100%;
            transition: all .25s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &Content {
        padding: 12px 16px;
    }

    &Title {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
    }

    &Subtitle {
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.6);
    }
}

@media screen and (max-width: 564px){
    .card {
        &Image {
            height: 232px;
        }
    }
}