.container {
  min-height: calc(100vh - 75px);
  max-width: 300px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  &Btn {
    width: 300px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px 10px 60px;
    transition: background-color .25s ease;

  }
}

.google {
  background: url("../../assets/google.png") #ece9e9 20px no-repeat;
  &:hover {
    background-color: #d2cfcf;
  }
}

.facebook {
  background: url("../../assets/facebook.png") #6e6ee0 20px no-repeat;
  color: snow;
  &:hover {
    background-color: #5454b4;
  }
}